*{
    margin: 0;
    padding: 0;
}

body{
    background-color: red;
}
p{
    font-size: 20px;
}

h2{
    text-transform: uppercase;
    color: red;
    background-color: orange;
}
.fondo{
    height: 100vh;
    background-color: rgb(255, 0, 98);
    background-image: linear-gradient(red, orange
    );
}
footer{
    background-color: aqua;
}

h4{
    background-color: aqua;
    background-image: linear-gradient(red,green);
    background-image: linear-gradient(to top, red orange);

}

.redes{
    background-color: orange;
}

.contenedor{
    height: auto;
    width: 90%;
    background-color: orange;
    padding: 50px;
    margin: auto;
}
.cuadrado{
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 5px;
}
.c1{
    background-color: red;
    transform: translate(250px, 20px);
}
.c2{
    background-color: aqua;
    transform: rotate(20deg);
}
